{% if multistage %}
FROM {{ builder_image }} AS builder
WORKDIR /app
COPY . .
RUN go build -o main .

FROM {{ runtime_image }}
WORKDIR /root/
COPY --from=builder /app/main .
CMD ["./main"]
{% else %}
FROM {{ runtime_image }}
WORKDIR /app
COPY . .
RUN go build -o main .
CMD ["./main"]
{% endif %}
