{% if multistage %}
FROM {{ builder_image }} AS builder
WORKDIR /app
COPY . .
RUN pip install --upgrade pip && pip install -r requirements.txt

FROM {{ runtime_image }}
WORKDIR /app
COPY --from=builder /app .
CMD ["python", "app.py"]
{% else %}
FROM {{ runtime_image }}
WORKDIR /app
COPY . .
RUN pip install --upgrade pip && pip install -r requirements.txt
CMD ["python", "app.py"]
{% endif %}
